body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.c-f{
    width: 30px;
    margin: 20px;
}
.f-c{
    width: 30px;
    margin: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
